{%extends "base.html"%}
{% block content %}
<h1>{{user.username}} 의TodoList</h1>
{%for todolist in todolists%}
  <p>
    <a href="#">{{ todolist.content }}</a>
    <small>{{todolist.created_at}}</small>
    <small>~{{todolist.finish_at}}</small>
    <form action="/todolist/{{todolist.id}}/checked/" method="post">
      {%csrf_token%}
      {% if todolist.checked %}
          <button type="submit"><i class="fa-regular fa-square"></i></button>
      {% else %}
          <button type="submit"><i class="fa-solid fa-square-check"></i></button>
      {%endif%}
    </form>
  </p>
{%empty%}
  <div>추가하고 오세요</div>

{% endfor %}

</p>
{% endblock %}

