{%extends "base.html"%}
{% block content %}
<h1>
  {{user.username}} 의TodoList
</h1>
<div id="wrapper">
  <div class="one">
      <a href="add/" class="bg-cyan-300"> 추가</a>
  </div>
  <div id="todolist_list" class="">
    <p>
  {%for todolist in todolists%}
      <a href='detail/{{todolist.id}}'>{{ todolist.title }}</a>
      <small>{{todolist.created_at}}</small>
      <small>~{{todolist.finish_at}}</small>
      <form method="post">
        {%csrf_token%}
        {% if todolist.checked %}
            <a href="/todolist/{{todolist.id}}/checked"><i class="fa-solid fa-square-check"></i></a>
        {% else %}
           <a href="/todolist/{{todolist.id}}/checked"><i class="fa-regular fa-square"></i></a>
        {%endif%}
      </form>
    </p>
  {%empty%}
    <div>추가하고 오세요</div>
  {% endfor %}
  </div>
</div>


</p>
{% endblock %}

