{%extends "base.html"%}
{% block content %}
<h1>
  {{user.username}} 의TodoList
</h1>
<button type="button" onClick="location.href='add/'">추가</button>
<table class="article__table">
  <thead>
    <tr>
      <th>제목</th>
      <th>기간</th>
      <th>성공 여부</th>
    </tr>
  </thead>
  <tbody>
  {%for todolist in todolists%}
    <tr>
      <td>
          <a href='detail/{{todolist.id}}'>{{ todolist.title }}</a>
      </td>
      <td>
        <small>{{todolist.created_at}}</small>
        <small>~{{todolist.finish_at}}</small>
      </td>
      <td>
        <form method="post">
          {%csrf_token%}
          {% if todolist.checked %}
            <a href="/todolist/{{todolist.id}}/checked"><i class="fa-solid fa-square-check"></i></a>
          {% else %}
            <a href="/todolist/{{todolist.id}}/checked"><i class="fa-regular fa-square"></i></a>
          {%endif%}
        </form>
      </td>
    {%empty%}
    <td>추가하고 오세요</td>
  {% endfor %}
    </tr>
  </tbody>
</table>


</p>
{% endblock %}

