{% extends "base.html" %}
{% block content %}
<h1>{{problem.title}}</h1>
<h2>{{problem.difficulty}}</h2>
<a href="/problems/{{problem.id}}/edit">편집하기</a>
<a href="/problems/{{problem.id}}/delete">삭제하기</a>
<p></p>
<small>{{problem.created_at }}</small>
<div>
  {{problem.content|linebreaksbr}}
</div>
<div class="comment_count">{{problem.comment_set.count}}개의 댓글</div>
<ul>
  {%for comment in problem.comment_set.all%}

  <li>
    <spqn>{{comment.user}}</spqn>
    <span>{{comment.content}}</span>
    {%if user == comment.user%}
        <form method="post" action="/problems/comment_delete/{{comment.id}}">
          {% csrf_token%}
          <button type="submit"><i class="fa-solid fa-delete-left"></i></button>
        </form>
    {%endif%}
  </li>

  {% empty %}
    <li>아직 댓글이 없습니다</li>
  {%endfor%}
  <div class="comment_create">
    <form method="post" action="/problems/{{problem.id}}/comment_add/">
      <input type="hidden" name="problem" value="{{problem.id}}">
      {% csrf_token %}
      {{comment_form.content}}
      <button type="submit">답글 달기</button>
    </form>
  </div>
</ul>

{%endblock%}